body {
    background-color:#04C4D9;
}

.desktop-4 {
    position:absolute;
    background-color:#04C4D9;
    height:1200px;
    width:1800px;
    padding:10px;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.rectangle6 {
    background-color:#ffffff;
    height:1000px;
    width:514px;
    border-radius:45px;
    top:217px;
    left:260px;
    position:absolute;
}

/* .rectangle7 {
    background-color:#ffffff;
    height:250px;
    width:250px;
    border-radius:45px;
    top:227px;
    left:741px;
    position:absolute;
} */

.thisiswhatwevelearned {
    color:#f5f5f5;
    text-align:left;
    vertical-align:text-top;
    font-size:48px;
    font-family:Roboto;
    align-self:flex-start;
    left:603px;
    top:120px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:1000px;
    display:flex;
}

.thetextsummarygoeshere {
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:280px;
    top:268px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:360px;
    display:flex;
}

.practicewithme {
    color:#FFF;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:855px;
    top:600px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:99px;
    display:flex;
}

.img1 {
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:1055px;
    top:364px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:250px;
    height:250px;
    display:flex;
    object-fit: fill;
}

/* .rectangle8 {
    background-color:#ffffff;
    height:250px;
    width:250px;
    border-radius:45px;
    top:227px;
    left:1057px;
    position:absolute;
} */

.img2 {
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:1371px;
    top:364px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:250px;
    height: 250px;
    display:flex;
    object-fit: fill;
}

/* .rectangle9 {
    background-color:#ffffff;
    height:250px;
    width:250px;
    border-radius:45px;
    top:550px;
    left:741px;
    position:absolute;
} */

.img3 {
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:1055px;
    top:687px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:250px;
    height: 250px;
    display:flex;
    object-fit: fill;
}

/* .rectangle10 {
    background-color:#ffffff;
    height:250px;
    width:250px;
    border-radius:45px;
    top:555px;
    left:1057px;
    position:absolute;
} */

.img4 {
    color:#000000;
    text-align:left;
    vertical-align:text-top;
    font-size:24px;
    font-family:Roboto;
    align-self:flex-start;
    left:1371px;
    top:692px;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:250px;
    height: 250px;
    display:flex;
    object-fit: fill;
}

.patito {
    height:101px;
    width:101px;
    left:1400px;
    top:20px;
    position:absolute;
}