<!DOCTYPE html>
<html>
<head>
    <title>Rubberduck</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <main class="flex min-h-screen flex-col items-center justify-between p-24">
        <div class="z-10 w-full max-w-5xl items-center justify-between font-mono text-sm lg:flex">
            <h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Welcome to the RubberDuck App!🚀</h1>
            <br>
            <div>
                <form action="{{ url_for("index")}}" method="post">
                    <label for="prompt" class="block text-gray-700 text-sm font-bold mb-2">Please enter your prompt:</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="prompt" name="prompt">
                    <br>
                    <br>
                    <label for="apiKey" class="block text-gray-700 text-sm font-bold mb-2">Please enter you API Key:</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="apiKey" name="apiKey">
                    <br>
                    <br>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Generate!</button>
                </form>
                <br>
                <img class="object-center" src="{{ user_image }}" alt="User Image">
            </div>
        </div>
    </main>
</body>
</html>