<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubberduck App - Study using the power of AI</title>
    <link href="../static/loading.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Rubberduck is listening...</h1>
    <div id='img1' class='img1'>
        <img src="../static/images/patito.gif" alt="loading patito" />
    </div>
</body>
</html>